# Ignorar pastas de compilação do .NET
bin/
obj/
.vs/
.vscode/

# Ignorar arquivos de usuário e configuração com senhas
*.user
*.suo
appsettings.Development.json

# Ignorar logs dentro da pasta Backend
Backend/Rastreadores/**/*.txt

# Permitir subir o arquivo de exemplo (sem senha)
!appsettings.json

# Arquivos de sistema
Thumbs.db
.DS_Store